.total-boxes {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    column-gap: 50px;
}
.main {
    width: 100%;
    display: flex;
    column-gap: 50px;
}
.chart-wrap, .spending-wrap {
    background-color: #fff;
    box-shadow: 0 0 10px rgb(218, 218, 218, 0.5);
    margin-top: 50px;
    border-radius: 30px;
    padding: 30px;
}
.chart-wrap {
    width: 100%;
}
.spending-wrap {
    width: 740px;
    padding: 40px;
}
.chart-wrap__headers {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chart-wrap__headers h1 {
    font-size: 1.5rem;
    font-weight: 500;
}
.chart-wrap__headers h5 {
    display: flex;
    column-gap: 10px;
    margin-top: 15px;
}
:global(.red-dot) {
    width: 15px;
    height: 15px;
    background-color: #ff4b4b;
    border-radius: 100%;
}
:global(.green-dot) {
    width: 15px;
    height: 15px;
    background-color: #38cf38;
    border-radius: 100%;
}
.spending-wrap__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.spending-wrap__header-title {
    font-weight: 500;
    font-size: 1.3rem;
}
.spending-wrap__header-amounts {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.spending-wrap__header-amount-box h3 {
    color: #b8b8b8;
    margin-bottom: 10px;
}
.spending-wrap__header-amount-box h6 {
    font-weight: 600;
}
.spending-wrap__header-amount-box h6 span {
    font-size: 0.7rem;
    color: #b8b8b8;
}
.circular-chart {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin: 50px auto;
    display: flex;
    background-image: -webkit-linear-gradient(90deg, #eeeef3 50%, transparent  50%), -webkit-linear-gradient(right, blue  50%, #eeeef3 50%);
}
.overlay {
    border-radius: 50%;
    width: 90%;
    height: 90%;
    margin: auto;
    background: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 25px;
}
.overlay h1 {
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 5px;
}
.overlay h3 {
    text-transform: capitalize;
}
.circular-chart-inner {
    border-radius: 50%;
    width: 85%;
    height: 85%;
    margin: auto;
    display: flex;
}
.second-circular {
    background-image: -webkit-linear-gradient(150deg, #eee1d9 50%, transparent  50%), -webkit-linear-gradient(bottom, #ec7027  130%, #eee1d9 50%);
}
.third-circular {
    background-image: -webkit-linear-gradient(50deg, #eef5f7 50%, transparent  50%), -webkit-linear-gradient(right, lightblue  50%, #eef5f7 50%);
}
.total-income-percent-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.total-income-percent-item div {
    display: flex;
    align-items: center;
}
.total-income-percent-item:not(:last-child) {
    margin-bottom: 20px;
}
.total-income-percent-item-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 20px;
}
.total-income-percent-item-circle.blue {
    background-color: blue;
}
.total-income-percent-item-circle.orange {
    background-color: #ec7027;
}
.total-income-percent-item-circle.lightblue {
    background-color: lightblue;
}
.total-income-percent-item span {
    font-weight: 600;
}
.calendar-btn {
    background-color: transparent;
    outline: none;
    border: 2px solid #dbdbdb;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    column-gap: 10px;
    padding: 10px 20px;
    border-radius: 12px;
    cursor: pointer;
}